<h1 mat-dialog-title>Busqueda de coordenadas</h1>
<form [formGroup]="coordsForm" [ngClass]="'form_centered'"(ngSubmit)="onSubmit()" novalidate>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Coordenadas" formControlName="coordinates">
  </mat-form-field>

  <div class="button-wrapper">
    <button mat-flat-button color="primary">Enviar</button>
  </div>
</form>



<h1 mat-dialog-title>Eventos de viaje</h1>
<mat-table [dataSource]="(events | async)" class="mat-elevation-z8">

  <ng-container matColumnDef="message">
    <mat-header-cell *matHeaderCellDef> Eventos </mat-header-cell>
    <mat-cell  *matCellDef="let element"> {{element["message"]}} </mat-cell>
  </ng-container>

  <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class='clickable' *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
