<h1 mat-dialog-title>Viajes realizados</h1>
  <mat-table [dataSource]="(trips | async)?.trips" class="mat-elevation-z8">

    <ng-container matColumnDef="patente">
      <mat-header-cell *matHeaderCellDef> Patente Bus </mat-header-cell>
      <mat-cell  *matCellDef="let element" (click)="onClickRow(element['id'])"> {{element["patente"]}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="started_at">
      <mat-header-cell *matHeaderCellDef>Hora de inicio</mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="onClickRow(element['id'])"> {{element["started_at"] | date:'short' }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="finished_at">
      <mat-header-cell *matHeaderCellDef> Hora de término</mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="onClickRow(element['id'])"> {{element["finished_at"] | date:'short' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="onClickRow(element['id'])"> {{element["status"]}} </mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class='clickable' *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
<div mat-dialog-actions>
</div>
