<section class="main_section">
  <mat-card class="mat_card">
    <mat-card-title class="centered">Búsqueda de viajes</mat-card-title>

    <form [formGroup]="tripsForm" [ngClass]="'form_centered'"(ngSubmit)="onSubmit()" novalidate>

      <div class="form_container">
        <mat-form-field>
          <mat-label>Ruta</mat-label>
          <mat-select [(value)]="selected" formControlName="route_id">
            <mat-option [value]="route['id']" *ngFor="let route of (routes | async)">{{route["name"]}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput readonly [matDatepicker]="picker" placeholder="Fecha" formControlName="date"
                 (dateChange)="date($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Patente del bus (opcional)" formControlName="license_plate">
        </mat-form-field>

        <div class="button-wrapper">
          <button mat-flat-button color="primary">Enviar</button>
        </div>
      </div>
    </form>
  </mat-card>


</section>


