.mat_card {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30%;
  height: 30%;
  padding: 5%;
}

.main_section {
  margin: auto;
  display: flex;
  height: calc(100% - 70px);
}

.centered {
  margin: auto;
}

.form_centered {

}

.form_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.button-wrapper {
  margin:auto;
}
