.app_background {
  background-image: url("https://imagenes.recorrido.cl/highlighted_sections/images/3/original/pasajes-para-todo-el-peru-recorrido_%281%29.jpg?1535975091");
  background-size: cover; background-position: center; background-repeat: no-repeat;
  height: 100vh;
}
